body {
    font-family: Arial;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.app {
    background: white;
    width: 350px;
    padding: 20px;
    border-radius: 10px;
}
h2 {
    text-align: left;
}
.input-group {
    display: flex;
    gap: 5px;
}
.input-group {
    display: flex;
    gap: 5px;
}
input {
    flex: 1;
    padding: 8px;
}
button {
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.add-btn {
    background: #5b5df0;
    color: white;
}
.add-btn:hover {
    background: #4446d8;
}
.filters {
    margin: 10px 0;
    display: flex;
    gap: 5px;
}

